<launch>

  <arg 
		name="model" 
		default="$(find urdf_model)/urdf/base_bot.urdf"/>
  <arg 
		name="gui" 
		default="True" />
  <arg 
		name="rvizconfig" 
		default="$(find urdf_model)/rviz/urdf.rviz" />

  <param 
		name="robot_description" 
		textfile ="$(find urdf_model)/urdf/base_bot.urdf" />
  <param
		name="use_gui" 
		value="$(arg gui)"/>

  <node 
		name="joint_state_publisher" 
		pkg="joint_state_publisher" 
		type="joint_state_publisher" />
  
	<node 
		name="robot_state_publisher" 
		pkg="robot_state_publisher" 
		type="state_publisher" />
  <node 
		name="rviz" 
		pkg="rviz" 
		type="rviz" 
		args="-d $(find urdf_model)/rviz/urdf.rviz" />
</launch>
